@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* line-1 */

  .camera1{
    margin: 0px 300px 0px 300px;
    background-color: white;
  }

  .display-flex{
    display: flex;
     padding: 100px; 
  }
  .text-gray{
    color: #3A3A3A;
  }

  .navber{
    justify-content: space-between;
  }

  .nav-item{
    list-style: none;
    margin-right: 35px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }

  .brand{
    font-size: 40px;
  }
  .navber{
    max-width: 2300px;
    margin: 0 auto;
  }

/* line-2 */
  .camera2{
    margin: 0px 300px 0px 300px;
    background-color:white;
  }
  .camera{
    display: flex;
    gap: 200px;
    padding: 150px;
  }
  .camera0{
    background-image: url(../images/Circle\ design.svg);
    background-repeat:no-repeat;
    background-size: contain;
    
  }

  .font-size{
    font-size: 60px;
  }
  .font-size1{
    font-size: 30px;
  }

  .btn-primary{
    color: black;
    background-color: #E02C6D;
    width: 300px;
    height: 100px;
    font-size: 30px;
    border-radius: 60px;
    
  }
  .img-size{
    size: 30px;
  }
  .preebook-now{
    gap: 10px;
  }
  /* line-3 */
  .images-size1{
   display: flex;
   justify-content: center;
   margin-top: 130px;
   gap: 100px;
   margin-right: 800px;
   grid-template-columns: repeat(7, 1fr);
   
  }
/* line-4 */
.color{
    text-align: center;
    margin-top: 150px;
    margin-right: 500px;
    margin-bottom: 100px;
    
}
/* line-5 */
/* .picture{
    margin: 0px 900px 0px 900px;
} */


.banner{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 500px;
    margin-right: 800px;
    gap: 30px;
    
  
}
.Collection1{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection2{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection3{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection4{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection5{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection6{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection7{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection8{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.Collection9{
    background-color:whitesmoke;
    width: 329px;
    height: 474px;
   margin-bottom: 30px;
   padding: 15px;
   border-radius: 8px;
   gap: 30px;
}
.btn{
  color: #E02C6D;
  text-align:right;
}

/* line-6 */

.picture{
  display: flex;
  gap: 100px;
  padding: 550px;
  margin-top: -200px;
}
.btn-primary2{
  color: black;
  background-color: #E02C6D;
  width: 250px;
  height: 60px;
  font-size: 30px;

}
.size{
  width: 600px;
  height: 470px;
}
.size1{
  width: 910px;
  height: 200px;
}
/* line-7 */
.rights{
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-size: 30px;
  margin-top: -100px;
}
.red{
  background-color: aliceblue;
}
.box{
  margin-left: 600px;
 width: 1400px;
 margin-bottom: 100px;
}




  @media screen and (max-width:576px){
    
    .camera1{
      padding: 0px;
    }
      .camera2{
        padding: 0px;
      }
      .navber{
        max-width: 300px;
      }

  
      .camera{
      flex-direction: column;
      
      }
      .display-flex{
        flex-direction: column;
        
      }
      .font-size{
        font-size: 30px;
      }
      .font-size1{
        font-size: 15px;
      
      }
      .btn-primary{
        color: black;
        background-color: #E02C6D;
        width: 150px;
        height: 50px;
        font-size: 15px;
        border-radius: 30px;
        
     }
     .camera0{
    
     }

      .images-size1{
        flex-direction: column;
        grid-template-rows: repeat(3, 1fr);
        
     }
     .color{
      margin-top: 20px;
     
     } 
     .banner{
      display:grid;
      grid-template-columns: repeat(1, 1fr);
  }
  .picture{
    flex-direction: column;
  }
  .size{
    width: 330px;
    height:230px ;
  }
  .size1{
    width: 340px;
    height: 100px;
  }
  .rights{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    margin-top: -100px;
  }
  .red{
    background-color: aliceblue;
  }
  .box{
    width: 300px;
  }
}